body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.post{
    position: relative;
    text-align: center;
    width: 600px;
    height: 400px;
    cursor: pointer;
}

.post:hover .post_s{
    width: 600px;
}

.post:hover .post_s button{
    opacity: 1;
}


.post img{
    display: block;
    width: 100%;
    height: 100%;
}
.post_s{
    background: #f1c40f;
    position: absolute;
    text-align: center;
    top: 0;
    width: 0;
    height: 400px;
    opacity: 0.5;
    transition: 0.7s ease;
    overflow: hidden;
}
.post_s button{
    margin: 0;
    background: none;
    padding: 10px 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    font-size: 20px;
    color: #fff;
    transform: translate(-50%,-50%);
    display: block;
    text-transform: uppercase;
    border: 2px solid #fff;
    border-radius: 10%;
    font-weight: 800;
    opacity: 0.5;
    overflow: hidden;
}
.post_s button::before{
    content: "";
    bottom: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 0%;
    background: #3498db;
    z-index: -1;
    transition: 0.8s;
    -webkit-transition: all 0.8s ease-out 0s;
    border-radius: 50% 50% 0 0;
}
/*.post_s button:hover{*/
/*    color: #2980b9;*/
/*    border: 2px solid #2980b9;*/
/*}*/

.post_s button:hover::before{
    height: 200%;
}

