body{
    margin: 0;
    padding: 0;
    background-color: #aaaaaa;
    background-size: cover;
    background-attachment: fixed;
}
.pricing-table{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
}

.col{
    flex: 25%;
    padding: 10px;
    max-width: 300px;
    box-sizing: border-box;
}

.table{
    background: #fff;
    padding: 40px 20px;
    font-family: "montserrat",sans-serif;
    position: relative;
    overflow: hidden;
    box-shadow: 0 0 10px #00000070;
}
.table h2{
    text-transform: uppercase;
}
.table ul{
    padding: 0;
    margin: 0;
}
.table ul li{
    list-style: none;
    padding: 10px 0;
}
.table ul li strong{
    margin-right: 5px;
}
.price{
    font-size: 40px;
    margin-bottom: 20px;
}
.price span{
    display: block;
    font-size: 14px;
}
.table a{
    text-decoration: none;
    color: #2c3e50;
    border:2px solid #2c3e50;
    display: block;
    padding: 10px 0;
    margin: 10px;
    border-radius: 40px;
    text-transform: uppercase;
    font-size: 14px;
    transition: 0.5s linear;
}
.table a:hover{
    color:#fff;
    background: #2c3e50;
}
.pop{
    background: #2c3e50;
    color: #fff;
    position: absolute;
    padding: 5px 40px;
    top: 25px;
    right: -31px;
    transform: rotate(45deg);
}

@media screen and (max-width: 1200px){
    .col{
        flex:50%;
    }
}

@media screen and (max-width: 700px){
    .col{
        flex: 100%;
    }
}